* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primario: #03484a;
  --secundario: #00d1c7;
  --terciario: #2ffcd2;
  --cuarto: #3126c7;
  --textoprimario: "Oswald", sans-serif;
  --textosecundario: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
}
header {
  text-align: center;
  padding: 20px;
  height: 80px;
  width: 100%;
}
header h1 {
  color: var(--primario);
  font-size: 40px;
  text-shadow: 3px 2px 2px var(--secundario);
}
body {
  background-image: url("fondo.jpg");
  background-attachment: fixed;
}
.form-register {
  width: 70%;
  max-width: 650px;
  background: var(--shadow);
  padding: 30px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000;
}
.form-register h1 {
  font-weight: normal;
  font-family: var(--textoprimario);
  color: white;
  font-size: 42px;
  text-align: center;
  padding: 14px 0;
  text-decoration: bold;
}
.labels {
  display: block;
  color: var(--secundario);
  font-size: 16px;
  font-family: var(--textosecundario);
  position: relative;
}
.controls,
.controls-extense {
  width: 100%;
  background: var(--shadow);
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--secundario);
  font-family: var(--textosecundario);
  font-size: 18px;
  color: white;
}
.controls-extense {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}
.selection {
  height: 16px;
  width: 16px;
  margin: 10px;
  margin-bottom: 15px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(100%);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
.form-register p {
  height: 40px;
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--secundario);
}
.form-register span {
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
}
.form-register a {
  color: var(--secundario);
  text-decoration: none;
}
.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .boton {
  width: 100%;
  background: var(--secundario);
  border: none;
  outline: none;
  padding: 15px 0;
  color: white;
  margin: 8px 0;
  font-size: 20px;
  font-family: var(--textoprimario);
  cursor: pointer;
  transition: all 0.5s ease;
}
.form-register .boton:hover {
  background: var(--terciario);
}
#terminos-condiciones {
  text-align: center;
}
footer {
  background: var(--shadow);
  color: whitesmoke;
  text-align: center;
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-size: 18px;
}
.footer_materia {
  float: left;
  padding-left: 20px;
}
.footer_autor {
  float: right;
  padding-right: 20px;
}
